[submodule "lib/projekktor-StrobeMediaPlayback"]
	path = lib/projekktor-StrobeMediaPlayback
	url = https://github.com/fixedmachine/projekktor-StrobeMediaPlayback.git
[submodule "lib/hls.js"]
	path = lib/hls.js
	url = https://github.com/video-dev/hls.js.git
[submodule "lib/video.js"]
	path = lib/video.js
	url = https://github.com/videojs/video.js.git
[submodule "lib/videojs-vast-vpaid"]
	path = lib/videojs-vast-vpaid
	url = https://github.com/MailOnline/videojs-vast-vpaid.git
[submodule "lib/dash.js"]
	path = lib/dash.js
	url = https://github.com/Dash-Industry-Forum/dash.js.git